html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Alegreya", serif;
}
header {
  display: flex;
  z-index: 2;
  height: 65px;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgb(220 220 220) 0px 2px 8px;

  position: sticky;
  top: 0px;
}
header a {
  text-decoration: none;
  color: black;
}
.logo-div {
  display: flex;

  width: 180px;
  height: 68px;

  align-items: center;
  justify-content: space-evenly;
}
.logo-pic {
  width: 40px;
  border-radius: 50%;
}
.logo-name {
  font-family: "Rajdhani", sans-serif;
  font-size: 29px;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  width: 500px;
  gap: 65px;
}
.nav-list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.login-btn {
  font-size: 20px;
  font-weight: lighter;
  transition: 0.5s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  color: black;
  padding: 6px 15px;
  background-color: #94ca65;
  border: none;
  border-radius: 8px;
}
.nav-links a {
  color: #132a13;
  transition: 0.3s;
}
.nav-list:active {
  opacity: 0.3;
}
.login-btn:active {
  opacity: 0.3;
}
.login-btn:hover {
  cursor: pointer;
  font-size: 25px;
}
.nav-list:hover {
  color: #2a850e;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
}
#home {
  height: 681px;
}
.background-video-container {
  position: relative;

  z-index: -2;
}
.background-video-inner {
  width: 100%;
  height: 681px;
  overflow: hidden;
  position: relative;
  z-index: -2;
}
.main-video {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  position: relative;
  z-index: -2;
}

.overlay {
  position: relative;
  bottom: 500px;
  z-index: 0;
  color: #90a955;
  background-color: aliceblue;
  width: 400px;
  height: 270px;
  padding: 30px;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: rgb(220 220 220) 0px 3px 6px;
}
.overlay h1 {
  font-family: "Alegreya", serif;
  color: black;
  font-size: 32px;
}
.overlay p {
  font-size: 23px;
  color: black;
  font-family: "Alegreya", serif;
}
.learn {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: #d62828;
  font-size: 25px;
  z-index: 2;
}
.learn:hover {
  cursor: pointer;

  text-decoration: underline;
}
/* .background-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  background: url("/source/boys\ of\ cricket.jpg") center center/ cover
    no-repeat;
} */

#features {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.feat-para {
  margin-top: 30px;
  text-align: center;
  font-family: "Alegreya", serif;
  font-weight: 200;
  font-size: 40px;

  text-shadow: 1px 1px grey;
}
.feat-container {
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
}
.feat-container a {
  text-decoration: none;
  color: black;
}

.container-turf img,
.container-opponents img,
.container-requirements img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.container-turf,
.container-opponents,
.container-requirements {
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  align-items: center;
  font-size: 40px;

  font-family: "Alegreya", serif;
  background-color: #ffff;
  border: none;
  width: 300px;
  height: 400px;
  border-radius: 20px;
}

.container-turf:hover,
.container-opponents:hover,
.container-requirements:hover {
  cursor: pointer;
  box-shadow: 5px 10px 18px rgb(23, 224, 23);
  transition: 0.5;
  transform: scale(1.1);
}

.feat-container button {
  padding: 10px 20px;
  background-color: #8aed6c;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  font-family: "Alegreya", serif;
}
.feat-container button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}
#about {
  height: 500px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding: 0px 30px;
}
#about div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}
#about div:hover {
  cursor: pointer;
  border-radius: 15px;
  border-top: rgb(23, 224, 23) 3px solid;
  border-bottom: rgb(23, 224, 23) 3px solid;
}
#about h1 {
  font-size: 30px;
}
#about p {
  font-size: 25px;
}
#about img {
  width: 60px;
}

/* #about div:hover {
  border: 3px solid orange;
  background-color: #2a850e;
  padding: 5px;
  cursor: pointer;
} */

footer {
  display: flex;
  justify-content: space-evenly;

  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
footer p {
  font-size: 18px;
}
.connect-images {
  display: flex;
  justify-content: space-between;
}
.links a {
  text-decoration: none;
  color: black;
}
.connect img {
  width: 35px;
}
.link h1 {
  text-align: start;
}
.links p:hover {
  text-decoration: underline;
}
