html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Alegreya", serif;
}
header {
  display: flex;

  height: 65px;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgb(220 220 220) 0px 2px 8px;

  position: sticky;
  top: 0px;
  z-index: 5;
}
.logo-div {
  display: flex;

  width: 180px;
  height: 68px;

  align-items: center;
  justify-content: space-evenly;
}
.logo-pic {
  width: 40px;
  border-radius: 50%;
}
.logo-name {
  font-family: "Rajdhani", sans-serif;
  font-size: 29px;
  font-weight: bold;
}
nav {
  display: flex;
  align-items: center;
  width: 220px;
  gap: 65px;
}
.nav-list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.login-btn {
  font-size: 20px;
  font-weight: lighter;
  transition: 0.5s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  color: black;
  padding: 6px 15px;
  background-color: #94ca65;
  border: none;
  border-radius: 8px;
}
.nav-links a {
  color: #132a13;
  transition: 0.3s;
}
.nav-list:active {
  opacity: 0.3;
}
.login-btn:active {
  opacity: 0.3;
}
.login-btn:hover {
  cursor: pointer;
  font-size: 25px;
}
.nav-list:hover {
  color: #2a850e;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
}
main {
  display: flex;
  flex-direction: column;
}
#sec-1 {
  display: flex;
  justify-content: space-around;
}
.content h1 {
  font-size: 38px;
}
.content p {
  font-size: 20px;
}
.content button {
  padding: 9px 19px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #8aed6c;
}
.content button:hover {
  background-color: rgb(238, 185, 101);
  cursor: pointer;
}

.background-gif img {
  width: 430px;
  margin-top: -60px;
}

#sec-3 {
  padding-top: -10px;
}
#sec-3 h1 {
  font-size: 40px;
  padding: 20px;
  text-align: center;
}
.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 90px;
}
.requir-1 {
  display: flex;
  flex-direction: column;
  width: 450px;

  border: 1px solid;
  border-radius: 5px;
  padding: 30px 30px 13px 30px;
}
.profile-details {
  display: flex;
  gap: 20px;
}

.profile {
  vertical-align: top;
  width: 69px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid;
}
.requir-1 span {
  font-size: 20px;
}
.requir-1 p {
  opacity: 0.7;
}
.info img {
  width: 20px;
}
.info img:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: 0.2s;
}

.more-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.more-info p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
footer {
  display: flex;
  justify-content: space-evenly;

  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
footer p {
  font-size: 18px;
}
.connect-images {
  display: flex;
  justify-content: space-between;
}
.links a {
  text-decoration: none;
  color: black;
}
.connect img {
  width: 35px;
}
.link h1 {
  text-align: start;
}
.links p:hover {
  text-decoration: underline;
}
