body {
  font-family: "Alegreya", serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 96vh;
  width: 97%;

  background-color: rgb(168, 161, 161);
}
.team-logo-div {
  display: flex;
  justify-content: center;
}
.team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: rgb(164, 157, 157);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
#logo {
  width: 140px;
  height: 140px;
  margin-left: 6px;
  border-radius: 50%;
}
#img {
  cursor: pointer;
}
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 740px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid;
  font-size: 25px;
  width: 400px;
  height: 600px;
  padding: 30px;
  border-radius: 9px;
  background-color: aliceblue;
}
input,
select {
  padding: 10px;
  border-radius: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 50px;
  border: none;
  border-radius: 6px;
  background-color: rgb(139, 233, 139);
}
button:hover {
  background-color: chartreuse;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
